img {
  height: 150px;
  width: 150px;
}

html {
  background-color: black;
  color: grey;
}

#pics {
  text-align: center;
}

header {
  text-align: center;
}

footer {
  padding: 10px;
  margin: 15px;
}
